<div class="container">
  <div>
    <table>
      <tr>
        <td>
          Shop Name:
        </td>
        <td>
          <%= @shop.name %>
        </td>
      </tr>
      <tr>
        <td>
          Type:
        </td>
        <td>
          Wix
        </td>
      </tr>
      <tr>
        <td>
          Created Date:
        </td>
        <td>
          <%= @shop.created_at %>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <div class="right-buttons">
      <%= link_to "Import Projects", import_projects_shop_path(@shop.id), class: "button" %>
      <%= link_to "Import Orders", import_orders_shop_path(@shop.id), class: "button" %>
    </div>
  </div>
</div>
