
<h2>Orders</h2>

<table>
  <tr>
    <th>External ID</th>
    <th> Line Item Count </th>
    <th> Status </th>
    <th>Total</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td> <%= order.external_reference_id %> </td>
      <td> <%= order.order_line_items.count %> </td>
      <td> N/A </td>
      <td> <%= order.total %> </td>
    </tr>
  <% end %>
</table>
